<!--<app-header-common></app-header-common>-->
<div class="background">
  <div class="container background">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5 background-card">
          <div class="card-body">
            <h5 class="card-title text-center" style="color: white; padding: inherit"> ĐĂNG NHẬP</h5>
            <!--                      nhớ dấu ngoặc []  khi sử dụng formGroup khi đó mới sd được (ngSubmit)  và phải được sử dụng trong thẻ form -->
            <form class="form-signin" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="form-label-group">
                <!--                              tương ưng trên mỗi ô input cần khai báo formControlName tương ứng để sử dụng Form trong angular đẻ validate các trường-->
                <input autofocus type="text" id="inputUsername" class="form-control"
                       placeholder="Tên tài khoản" formControlName="accountName">

                <label class="form-label" for="inputUsername">
                <span style="color: red ; font-weight: bold; font-size: 15px; margin-left: 5px"
                      *ngIf="formGroup.controls.accountName.touched && formGroup.controls.accountName.hasError('required')"> Tên đăng nhập không được để trống</span>
                  <span style="color: red ; font-weight: bold; font-size: 15px; margin-left: 5px"
                        *ngIf="formGroup.touched  && formGroup.controls.accountName.hasError('pattern')"> Tên đăng nhập không hợp lệ</span>

                </label>
              </div>

              <div class="form-label-group">
                <!--<label for="inputPassword">Mật khẩu:</label>-->
                <input type="password" id="inputPassword" class="form-control"
                       placeholder="Mật khẩu" formControlName="password">

                <label class="form-label" for="inputPassword">
                  <span style="color: red ; font-weight: bold; font-size: 15px; margin-left: 5px"
                        *ngIf="formGroup.controls.password.touched && formGroup.controls.password.hasError('required')">  Mật khẩu không được để trống </span>
                </label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1"
                       formControlName="remember_me">
                <label class="custom-control-label" for="customCheck1" formControlName="remember_me">&ensp;Ghi nhớ đăng
                  nhập lần
                  sau</label>
              </div>

              <button class="btn btn-lg text-uppercase btn-success" type="submit">Đăng nhập</button>

              <button class="btn btn-outline-danger text-uppercase" type="button">
                Đăng nhập với google
                <img class="social-btn-icon" alt="Login with Google"
                     src="https://hrcdn.net/fcore/assets/google-colored-20b8216731.svg">
              </button>

              <button class="btn btn-lg btn-secondary text-uppercase" style="margin-top: 20px"
                      routerLink="" data-dismiss="modal" type="button">
                Huỷ
              </button>

              <div style="margin-top: 20px">
                <p><a href="" routerLink="/reset-password" data-dismiss="modal">Quên mật khẩu ?</a></p>
                <span>Bạn chưa có tài khoản? Đăng ký <a routerLink="/register">tại đây</a></span>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
