<div class="row align-items-center">
    <div class="col-6 col-lg-3">
        <a href="/" class="mx-3" style="text-decoration: none ; color: white"> Quay lại trang chủ

        </a>
    </div>
    <div class="col-6 col-lg-9 my-4">
        <div class="dropdown float-end px-4">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
               id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/image/account.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong style="color: #54B435"></strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser" style="">
                <li><a class="dropdown-item logout-hover" (click)="logout()">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</div>
