<div class="row align-items-center">
  <div class="col-6 col-lg-3">
    <a href="/">
      <img src="assets/image/logo_movie-removebg-preview.png" alt="go to home page" class="img-fluid"
           style="width: auto;">

    </a>
  </div>
  <div class="col-6 col-lg-9">
    <div class="dropdown float-end px-4">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
         id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/image/account.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong style="color: #54B435"></strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser" style="">
        <!--        <li><a class="dropdown-item" href="#">Cài đặt</a></li>-->
        <!--        <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>-->
        <!--        <li>-->
        <!--          <hr class="dropdown-divider">-->
        <!--        </li>-->
        <li><a class="dropdown-item">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</div>
