<div class="card mb-4">
    <div class="card-header rounded-1" style="background-color: rgba(0, 0, 0, 0)">
        <div class="d-block justify-content-center">
            <ul class="nav nav-pills flex-column flex-shrink-0 mb-auto">

                <li>
                    <a #a1 href="/contract_management/select_contract_user" [ngClass]="{'nav-link link-dark': true, 'active': activePage.includes(a1.href)}"
                       (click)="changeColor(a1.href)">
                        <img src="assets/image/quan-ly-ban-ve.png" height="20" width="20"/>
                        Quản lý đặt phòng
                    </a>
                </li>

                <li>
                    <a #a2 href="/employee_management/employee" [ngClass]="{'nav-link link-dark': true, 'active': activePage.includes('/employee_management')}"
                       (click)="changeColor(a2.href)">
                        <img src="assets/image/quan-ly-nhan-vien.png" height="20" width="20"/>
                        Quản lý nhân viên
                    </a>
                </li>

                <li>
                    <a #a3 href="/customer-management" [ngClass]="{'nav-link link-dark': true, 'active': activePage.includes(a3.href)}"
                       (click)="changeColor(a3.href)">
                        <img src="assets/image/quan-ly-thanh-vien.png" height="20" width="20"/>
                        Quản lý khách hàng
                    </a>
                </li>

                <li>
                    <a #a4 href="/admin/movie" [ngClass]="{'nav-link link-dark': true, 'active': activePage.includes(a4.href)}"
                       (click)="changeColor(a4.href)">
                        <img src="assets/image/quan-ly-phim.png" height="20" width="20"/>
                        Quản lý phòng
                    </a>
                </li>

                <li>
                    <div class="dropdown">
                        <a href="#" [ngClass]="{'nav-link link-dark link-dark text-decoration-none dropdown-toggle': true,
          'active': [a5.href, a6.href, a7.href, a8.href].includes(activePage)}"
                           id="dropdownStatistic" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="assets/image/thong-ke.png" height="20" width="20"/>
                            Thống kê
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownStatistic"
                            style="">
                            <li><a #a5 class="dropdown-item" href="/statistic/statistic-movie" (click)="changeColor(a5.href)"
                                   [ngClass]="{'nav-link link-dark': true, 'active': activePage.includes(a5.href)}">Thống kê phòng</a></li>
                            <li><a #a6 class="dropdown-item" href="/statistic/statistic-customer" (click)="changeColor(a6.href)"
                                   [ngClass]="{'nav-link link-dark': true, 'active': activePage.includes(a6.href)}">Thống kê thành viên</a></li>
                            <li><a #a7 class="dropdown-item" href="/statistic/movie-type-statistic" (click)="changeColor(a7.href)"
                                   [ngClass]="{'nav-link link-dark': true, 'active': activePage.includes(a7.href)}">Thống kê thể loại phòng</a></li>
                            <li><a #a8 class="dropdown-item" href="/statistic/showtime-statistic" (click)="changeColor(a8.href)"
                                   [ngClass]="{'nav-link link-dark': true, 'active': activePage.includes(a8.href)}">Thống kê suất thuê phòng</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>


