.nav-pills .nav-link.active,.active, .bg-sub{
    color: #fff;
    background-color: #54B435;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

.bg-close{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.page-link , .bg-icon{
    color: #54B435;
}

.modal-title{
    color: #54B435;
}

.modal-header{
    text-align: center;
    display: inline;
}

.mg-s-5{
    margin-top: 5px;
}

.font-size{
    font-size: 14px;
}

.text-center{
    text-align: center;
}

.mg-lx-2{
    margin-left: 0.5rem;
}

.pd-lx-0{
    padding-left: 0px;
}

.page-link:hover {
    cursor: pointer;
    opacity: 0.9;
}

.current {
    color: #fff;
    background-color: #54B435;
}

.image-delete{
    width: 100%;
}

.input-group--height{
    height: 35px;
}
img {
    background-color: transparent;
    object-fit: cover;

}

.background{
    background-image: url("src/assets/images/bg.jpg");
}
