* {
  font-family: sans-serif, Roboto;
  font-size: 14px;
  font-weight: 500;
  /* text-decoration: none; */
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  top: 100%; /* Hiển thị dropdown-menu bên dưới */
  left: 0; /* Giữ dropdown-menu bên trái */
  right: auto; /* Không căn giữa dropdown-menu */
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}


.navbar-light .navbar-nav .nav-link {
  color: #54B435;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #54B435;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}

.user-profile {
  margin-right: 150px;

}

.booking:hover {
  background-color: #54B435;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}

.user-profile .user-profile-management:hover {
  background-color: #54B435;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
