* {
  font-family: sans-serif, Roboto;
  font-size: 14px;
  font-weight: 500;
  /* text-decoration: none; */
  font-weight: bold;
}

body {
  overflow-x: hidden;
}


.dropdown:hover > .dropdown-menu {
  display: block;
  top: 100%; /* Hiển thị dropdown-menu bên dưới */
  left: 0; /* Giữ dropdown-menu bên trái */
  right: auto; /* Không căn giữa dropdown-menu */
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
}



.navbar-light .navbar-nav .nav-link:hover {
  color:white;
  cursor: pointer;
  border-radius: 2px;
  border-bottom: #54B435 solid 3px;
  margin-bottom: 1px;
}

.user-profile {
  margin-right: 150px;

}

.booking:hover {
  background-color: #54B435;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}

header{
  height: 100vh;
  width: 100%;
  background-image: url("src/bg.jpg");
  background-size: 100%;
  background-repeat: repeat-y;
}
.user-profile .user-profile-management:hover {
  background-color: #54B435;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

/* định dang search ở phía header*/

.search-container {
  position: relative;
  width: 300px; /* Độ rộng của container */
}

/* Định dạng cho ô nhập */
.search-input {
  width: 100%; /* Lấp đầy toàn bộ container */
  padding: 5px;
}

/* Định dạng cho nút tìm kiếm */
.search-button {
  position: absolute;
  right: 1px; /* Khoảng cách từ phía bên phải của container */
  top: 50%; /* Đưa nút lên giữa theo chiều dọc */
  transform: translateY(-50%);
  background-color: #4CAF50; /* Màu nền nút */
  color: white; /* Màu chữ trên nút */
  border: none;
  padding: 4px 8px; /* Độ rộng và độ ca o của nút */
  cursor: pointer;
}
